{% extends 'conceptoFacturable/base.html' %}

{% block content %}
<div class="container">
    <p class="text-center">
        <a class="btn btn-primary mb-2" href="{% url 'conceptos_facturables_nuevo' %}" name="create_button">Crear Concepto Facturable</a>
    </p>
</div>
    <div class="card">
        <ul class="list-group list-group-flush w-100">
        {% for concepto in conceptos %}
          <li class="list-group-item">
                <div class="text">
                    <h3>{{concepto.pk}}. <b>Concepto:</b> {{concepto.concepto}}</h3>
                </div>
                <a href="{% url 'conceptos_facturables_detail' pk=concepto.pk %}">Detalle</a>
          </li>
          {% endfor %}
        </ul>
      </div>


{% endblock content %}