{% extends 'conceptoFacturable/base.html' %}

{% block content %}
<div class="card">
    <div class="card-header">

        <h3> {{concepto.concepto}} - Detalle</h3>
    </div>
    <div class="card-body">
      <p class="card-text"><b>Tipo Comunicación:</b> {{concepto.tipo_comunicacion}}</p>
      <p class="card-text"><b>Clase Concepto:</b> {{concepto.clase_concepto}}</p>
      <p class="card-text"><b>Operador:</b> {{concepto.operador}}</p>
      <p class="card-text"><b>Concepto Operador:</b> {{concepto.concepto_operador}}</p>
      <p class="card-text"><b>Ambiente:</b> {{concepto.ambito}}</p>
      <a class="btn btn-primary mx-1" href="{% url 'conceptos_facturables_list' %}">Volver</a>
      <a class="btn btn-primary mx-1" href="{% url 'conceptos_facturables_editar' pk=concepto.pk %}">Editar</a>
    </div>
</div>
{% endblock content %}